/* Style global */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* En-tête */
header {
    background-color: #ffffff;
    color: #fff;
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Centrer horizontalement */
    padding: 10px 20px;
}

header .logo {
    margin-bottom: 10px; /* Espace entre le logo et la nav */
}

header .logo img {
    height: 50px;
}

header nav {
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    background-color: #444; /* Ajouter un fond à la barre de navigation */
    padding: 10px;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #555;
    border-radius: 3px;
}

header nav ul li a:hover {
    background-color: #666;
}

/* Barre de recherche */
.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    padding: 10px;
    width: 300px;
}

.search-bar button {
    padding: 10px;
}

/* Style des cartes de voitures */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Assurez-vous que la vidéo est en arrière-plan */
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Assurez-vous que la vidéo est en arrière-plan */
}

/* Styles pour les voitures */
.cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px; /* Ajoutez de l'espace pour ne pas cacher les voitures */
    position: relative;
    z-index: 1; /* Assurez-vous que les voitures sont au-dessus de la vidéo */
}

.car {
    margin: 20px;
    text-align: center;
    position: relative;
    z-index: 1; /* Assurez-vous que les voitures sont au-dessus de la vidéo */
}

.car img {
    max-width: 100%;
    border-radius: 10px;
}
.car h2 {
    color: white; /* Couleur du texte en blanc */
}
.car p {
    color: white; /* Couleur du texte en blanc */
}