body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fcfcfc;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    margin-bottom: 10px;
}

header .logo img {
    height: 50px;
}

header nav {
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #555;
    border-radius: 3px;
}

header nav ul li a:hover {
    background-color: #666;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-container label {
    margin-right: 10px;
    font-size: 1.2em;
}

.search-container input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.search-container button:hover {
    background-color: #555;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #333;
    color: white;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table tr:hover {
    background-color: #f1f1f1;
}

table th {
    background-color: #555;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 10px 0;
    }

    .search-container {
        flex-direction: column;
        align-items: center;
    }

    .search-container input {
        width: 100%;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
    }
}
