/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #ffffff;
    color: #fff;
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Centrer horizontalement */
    padding: 10px 20px;
}

header .logo {
    margin-bottom: 10px; /* Espace entre le logo et la nav */
}

header .logo img {
    height: 50px;
}

header nav {
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    background-color: #444; /* Ajouter un fond à la barre de navigation */
    padding: 10px;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #555;
    border-radius: 3px;
}

header nav ul li a:hover {
    background-color: #666;
}
h2 {
    margin-top: 20px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
