/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* En-tête */
header {
    background-color: #ffffff;
    color: #fff;
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Centrer horizontalement */
    padding: 10px 20px;
}

header .logo {
    margin-bottom: 10px; /* Espace entre le logo et la nav */
}

header .logo img {
    height: 50px;
}

header nav {
    width: 60%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    background-color: #444; /* Ajouter un fond à la barre de navigation */
    padding: 10px;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #555;
    border-radius: 3px;
}

header nav ul li a:hover {
    background-color: #666;
}

/* Container for the form */
.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Form title */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Input group styles */
.input-group {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input[type="text"],
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button styles */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Additional styling for the "Déjà venu" button */
button[name="deja_venu"] {
    width: 100%;
    padding: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button[name="deja_venu"]:hover {
    background-color: #0b7dda;
}


