body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
header {
    background-color: #ffffff;
    color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10px 20px;
}

header .logo {
    margin-bottom: 10px; 
}

header .logo img {
    height: 50px;
}

header nav {
    width: 100%;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    background-color: #444; 
    padding: 10px;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #555;
    border-radius: 3px;
}

header nav ul li a:hover {
    background-color: #666;
}


.container {
    width: 80%;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}
